*{
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 4px 8px;
  background-color: rgb(202, 209, 233);
  position: relative;
}
header{
  text-align: center;
  padding: 16px;
  background-color: rgb(143, 164, 226);
  border-radius: 4px;
}
.container{
  height: 70vh;
}
.write-region{
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #666;
  border-radius: 8px;
  margin: 16px auto;
  background-color: #fff;
}
.write-region label{
  font-size: 24px;
  margin-bottom: 16px;
}
.write-region input{
  height: 2em;
  padding: 0 8px  ;
}
.write-region button{
  background-color: rgb(143, 164, 226);
  border-radius: 4px;
  border: none;
  padding: 8px;
}
.response{
  min-height: 70%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #666;
}
.response div{
  display: flex;
  justify-content: space-evenly;
}
footer{
  display: flex;
  justify-content: center;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .container{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
  }
  .write-region{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #666;
    border-radius: 8px;
    margin: 16px 0;
    background-color: #fff;
  }
  .write-region label{
    font-size: 24px;
    margin-bottom: 16px;
  }
  .write-region input{
    height: 2em;
    padding: 0 8px  ;
  }
  .write-region button{
    background-color: rgb(143, 164, 226);
    border-radius: 4px;
    border: none;
    padding: 8px;
  }
  .response{
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #666;
    margin-top: 16px;
    padding: 16px 4px;
  }
  footer{
    display: flex;
    justify-content: center;
    padding: 8px;
  }
}